__pycache__/app.cpython-38.pyc
*.xlsx
log/*
.env
.env1
CM/.env
CM/.env23
aws_credentials
aws_credentials.*
*.geojson
api_env/*
lib/*
lib64/*
.gpg
pyvenv.cfg
tmp/*
*.pyc
*.jsonl
data.json
new.json
poly.json
config.ini
*.pem
*.key
id_rsa
id_ed25519
